# Compiled source and build files #
###################################
*.gblorb
*.blurb
*.ulx
*.inf
*.dbg
*.plist
*.skein
*.iFiction
*.glksave
*.sav
image.txt
Debug log.txt
Trap Quest Materials/Release/*.png

# Things redacted from public repository #
##########################################
Trap Quest Materials/Figures/*
Trap Quest.inform/Inform/Extensions/Character Window/*
Trap Quest.inform/Inform/Extensions/Map Window/*
Trap Quest.inform/Inform/Extensions/Nintendolls Job Epilogues/*
Trap Quest.inform/Inform/Extensions/Nintendolls One Year Later Epilogues/*
Trap Quest.inform/Inform/Extensions/Ending The Game/Endgame Variables.i7x
Trap Quest.inform/Inform/Extensions/Ending The Game/Endgame Images.i7x
Trap Quest.inform/Inform/Extensions/Ending The Game/Epilogue Outcomes.i7x
Trap Quest.inform/Inform/Extensions/Ending The Game/Reusable Content.i7x
Trap Quest.inform/Inform/Extensions/Ending The Game/Ending the Game.i7x
Trap Quest.inform/Inform/Extensions/Ending The Game/Transformation Reversal Options.i7x
Trap Quest.inform/Inform/Extensions/Ending The Game/Body Score.i7x
Trap Quest.inform/Inform/Extensions/Miscellaneous Backend/Private Version Stuff.i7x
Trap Quest.inform/Inform/Extensions/Miscellaneous Backend/Cheater Validation.i7x
Trap Quest.inform/Inform/Extensions/Miscellaneous Backend/Donators Unlocks.i7x
Trap Quest.inform/Inform/Extensions/Miscellaneous Frontend/Debug Commands.i7x
Trap Quest.inform/Inform/Extensions/Miscellaneous Frontend/Graphics Window Stuff.i7x
Trap Quest.inform/Inform/Extensions/Miscellaneous Frontend/ACSII Map.i7x

# Settings #
############

character.glkdata
prefs.glkdata
malenames.glkdata
femalenames.glkdata


# Indexes #
###########
# massive autogenerated files Inform7 creates
*.html
*.xml


# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
